{{> header}}
<main id="dashboard" class="container">
    <h2>Dashboard for {{user.username}}</h2>
    <a href="/post"><button class="btn btn-dark">Write a new blog post...</button></a>
    {{#each posts as |post|}}
    <article class="py-5">
        <div class="row">
            <h3 class="col-sm-8 col-10"><a href="/post-view/{{post.id}}">{{post.title}}</a></h3>
            <button class="edit-button btn btn-dark col-sm-2 col-1" data-post-id="{{post.id}}">Edit</button>
            <button class="delete-button btn btn-dark col-sm-2 col-1" data-post-id="{{post.id}}">Delete</button>
        </div>
        <p class="fs-4">{{format_time post.createdAt}}</p>
        <p class="fs-5 py-3">{{post.content}}</p>
    </article>
    {{/each}}
</main>
<script src="js/dashboard.js"></script>