{{> header}}
<main class="container">
    <article class="py-5" id="blogpost" data-post-id="{{post.id}}">
        <h3>{{post.title}}</h3>
        <p class="fs-4">By: {{post.user.username}}</p>
        <p class="fs-4">On: {{format_time post.createdAt}}</p>
        <p class="fs-5 py-3">{{post.content}}</p>
        {{#each post.comments as |comment|}}
        <div class="py-4">
            <h4>{{comment.user.username}} posted on {{format_time comment.createdAt}}:</h4>
            <p class="fs-5 my-2">{{comment.content}}</p>
        </div>
        {{/each}}
    </article>
    <div class="py-5"></div>
    {{#if loggedIn}}
    <h3>Leave Comment</h3>
    <form id="comment-form">
        <textarea class="form-control" id="comment-field" rows="5" required></textarea>
        <button class="btn btn-dark" type="submit">Submit Comment</button>
    </form>
    <script src="/js/comment.js"></script>
    {{else}}
    <p>You must be logged in to comment!</p>
    {{/if}}
</main>