{{> header}}
<main>
    <article>
        <h3>{{post.title}}</h3>
        <p>By: {{post.user.username}}</p>
        <p>On: {{format_time post.createdAt}}</p>
        <p>{{post.content}}</p>
    </article>
    {{#if loggedIn}}
    <h3>Leave Comment</h3>
    <form id="comment-form">
        <textarea id="comment-field" rows="5" required></textarea>
        <button type="submit">Submit Comment</button>
    </form>
    {{else}}
    <p>You must be logged in to comment!</p>
    {{/if}}
</main>
<script src="/js/comment.js"></script>